<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /pruebas/eSIM/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pruebas/eSIM/index.html [L]
</IfModule>