.activation-code-container{
  margin-top: 80px;
}
.activation-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto !important;
}

.qr-activation-code img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  border: 2px solid var(--txt-color);
  border-radius: 50px;
  padding: 20px;
}
.manual-code{
    width: 100%;
}

.manual-activation-code{
    gap: 20px;
}
.activation-code-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

    .manual-code{
background-color: #f8f8f8;
border-radius: 30px;
padding: 15px;
    }

@keyframes fill-check {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animated-check {
    animation: fill-check 0.4s ease-in-out;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .manual-code p{
    font-size: 14px;
    font-weight: 500;
  } 
  .activation-code-txt{
  font-size: 20px !important;
}
  .manual-code h4{
    font-weight: 700;
  }
  .btn-activation-code{
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    padding: 5px 40px;
  }

@media screen and (max-width: 425px) {
  .manual-code{
    max-width: 100%;
    height: 200px;
  }

  
}

  