.installation-steps-container{
    margin-top: 100px !important;
}
.installation-sbtitle{
    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
    line-height: 1.2;
}
.installation-steps{
    gap: 30px;
}
.installation-step{
    width: 100%;
    max-width: 175px;
    font-size: 14px;
}
.installation-step img{
    width: 100%;
    margin-bottom: 20px;
}
.installation-step p{
    font-weight: 500;
    line-height: 1.2;
    font-size: 18px;
}
.installation-guides{
    gap: 20px;
}
.guide-installation{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 30px;
    height: 150px;


    align-content: center;
}
.guide-installation button{
    padding: 8px 25px;
}
.guide-installation h4{
    font-weight: 700
}
.guide-activation-container{
    margin-top: 90px !important;
}
.guide-activation-container h3{
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .installation-step {
        max-width: 240px;
    }
    .guide-installation{
    width: 90%;
    }
}