.installation-sbtitle{
    font-size: 20px;
}
.installation-steps{
    gap: 30px;
}
.installation-step{
    width: 100%;
    max-width: 165px;
    font-size: 14px;
}
.installation-step img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}
.installation-guides{
    gap: 50px;
}