:root{
    --primary-color: #FF8800;
    --secondary-color: #0068FF;
    --txt-color: #1c355e;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
*{
    font-family: "Montserrat", sans-serif;
    color: var(--txt-color);
}
html, body{ 
    overflow-x: hidden !important;
}
ul{
    list-style: none;
    padding: 0;
}
p, h1, h2, h3, h4{
    margin: 0;
}
a{
    text-decoration: none;
}

/* Titles */
h1{
    font-size: 26px;
}
h2{
    font-size: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
font-weight: 700;
}
h3{
    font-size: clamp(1.5rem, 1.4643rem + 0.1786vw, 1.625rem);
}
h4{
font-size: 24px;

}
.subtitle-special{
    font-size: 28px;
    font-weight: 700;
}

/* Contenedores */
.container-sm{
    width: 100%;
    max-width: 600px;
}
.container-ssm{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* btn */
.general-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: 20px;
    transition: opacity 0.3s;
}
.general-btn:hover{
    opacity: 0.9;
}