:root{
    --primary-color: #FF8800;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
*{
    font-family: "Montserrat", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
}
p, h1, h2, h3, h4{
    margin: 0;
}
a{
    text-decoration: none;
}

/* Titles */
h2{
font-size: 40px;
font-weight: 700;
}

h4{
font-size: 20px;
font-weight: 600;
}

/* Contenedores */
.container-sm{
    width: 100%;
    max-width: 600px;
}
.container-ssm{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}